body {
    background-color: rgb(180, 180, 180);
    font-family: sans-serif;
}

#cabecalho{
    border: black 1px solid;
    border-radius: 10px;
    padding-left: 50px;
    margin-bottom: 30px;
}

#conteudo {
    background-color: white;
    margin-left: 5%;
    margin-right: 5%;
    padding: 2%;
}

a {
    color: blue;
    text-decoration: unset;
}

#navbar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

#imgLoja {
    width: 100%;
}

#tituloDestaque {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    text-shadow: gray 1px 1px 5px;
}

#produtos {
    display: flex;
    justify-content: space-between;
}

.produtoDestaque {
    border: gray 1px solid;
    margin-left: 10px;
    margin-right: 10px;
    box-shadow: gray 2px 2px 3px;
}

.imgDestaque {
    width: 50%;
    margin-left: 20%;
    margin-bottom: 10% ;
}

h3 {
    text-align: center;
    font-size: 30px;
}

.descricaoDestaque{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 5px;
    margin-right: 5px;
}